# Environment variables
.env

# Configuration files
config.js

# Dependencies
node_modules/

# Build output
dist/
build/

# Logs
logs
*.log

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
